.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.links {
  display: flex;
  width: 100%;
  justify-content: center;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}

.links a:hover {
  color: #333;
  text-decoration: underline;
}
